@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    min-width: 320px;
    max-height: 870px;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60vh;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.header {
    min-width: 428px;
    height: 30vh;
    width: 94%;
    animation: fade-down 0.6s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.glassmorphsim {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #976e2185;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 0 0 5rem 5rem;
    border: 5px solid rgba(255, 255, 255, 0.18);
}

.header_heading {
    background: #E8BA02;
    color: #111;
    font-family: 'Exo 2';
    font-size: 3.8rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    padding: 3rem 0 3rem 0;
    /* max-height: 8vh; */
    height: 18vh;
    min-width: 378px;

}

._desc {
    color: whitesmoke;
    font-family: 'EXO 2';
    font-size: 1.9rem;
    text-align: center;
    line-height: 3rem;
    font-weight: 500;
    margin: 0.7rem;
    height: 20vh;
    justify-content: space-between;
    min-width: 378px;


}

section {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    min-width: 378px;

}


@media (max-width: 1440px) and (min-width:478px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .header {
        height: 200px;
        min-height: 150px;
        width: 100%;
    }

    .login_container {
        display: flex;
        flex-direction: column;
        height: 65vh;
        align-items: center;
    }

    ._desc {
        font-size: 2.5rem;
        display: flex;
        justify-content: space-around;
    }

    .header_heading {
        font-size: 4rem;
        font-weight: 700;
    }

    section {
        min-width: 100%;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 3500px) and (min-width:1440px) {
    .container {
        height: 100%;
        width: 100%;
        max-width: 100% !important;
        max-height: 100vh !important;
    }

    .header {
        height: 200px;
        min-height: 150px;
        width: 100%;
    }


    ._desc {
        font-size: 3.8rem;
        display: flex;
        line-height: 4.5rem;
        justify-content: space-around;
    }

    .header_heading {
        font-weight: 700;
        font-size: 7rem;
    }

    .login_container {
        display: flex;
        flex-direction: column;
        height: 67.5vh;
        align-items: center;
    }

    section {
        min-width: 100%;
        position: absolute;
        bottom: 0;
    }


}